@model CategoryDto
@{
    ViewData["Title"] = "Update";
}
<form method="post" class="w-75 shadow p-3 mx-auto"> 
    <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
    <div class="form-group">

        <label asp-for="@Model.Name"></label>
        <span asp-validation-for="@Model.Name" ></span>
        <input asp-for="@Model.Name" value="@Model.Name"  class="form-control" />
    </div>

    <button class="btn btn-outline-success">Güncelle</button>
</form>

